.from {
  flex-direction: column;
  gap: 10px;
  .item {
    flex-wrap: wrap;
  }
  span {
    display: block;
    width: 80px;
    align-items: end;
  }
}
.btn {
  display: flex;
  margin: 20px auto 0;
}
.list {
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  .item {
    width: 20%;
    .img {
      width: 100%;
    }
    .img_view {
      position: relative;
    }
    .img_view:hover {
      .item_befor {
        backdrop-filter: blur(3px);
        display: block;
      }
      .icon {
        display: block;
      }
    }
    .item_befor {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .icon {
    display: none;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 140px);
    // left: 50%;
    width: 2em;
    height: 2em;
    margin: 50px;
    transform: translate(-50%, -50%);
  }

  .r {
    left: calc(75% - 50px);
    transform: translate(-50%, -50%);
  }
}
